* {
	font-family: 'Comic Neue', cursive;
	font-size: 16px;
	
}

body {
  font-family: 'Comic Neue', cursive;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #e1e1e1;
}

aside {
  float: left;
  width: 20%;
  background-color: #cefae8;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

p {
	line-height: 6px;
}

li {
	line-height: 50px;
	
}

.vertical-menu {
	width: 90%;
	margin: auto;
}

.vertical-menu a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 10px;
	text-align: center;
	display: block;
	margin-top: 10px;
}

.vertical-menu a:hover {
	background-color: #89d0b3;
	color: white;
	border: 1px solid black;
	box-shadow: 5px 5px 5px grey;
}

.socials a{
	width: 100%;
	align: center;
	margin: 23px;
	font-size: 30px;
	color: black;
}

.socials a:hover {
	color: #337c5e;
}
/*
.right {
	position: absolute;
	width: 80%;
	background-color: white;
	padding: 5px;
	overflow-x: hidden;
	left: 320px;
	z-index: -1;
	top: 0;
	white-space: nowrap;
}
*/

.right-column {
	float: left;
	width: 80%
	background-color: white;
	padding-left: 5px;
}
	
.text {
	color: white;
	font-size: 30px;
	position: absolute;
	padding: 20px;
	bottom: 10px;
	left: 20px;
	width: 100%;
	text-align: left;
}

.header {
	background-color: white;
}
	
.button {
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.button a {
	color: lightblue;
	text-decoration: none;
}

.button a:hover {
	color: linen;
}

#about {
	margin-top: 100px;
}

.card {
	background-color: white;
	padding: 5px;
	margin-top: 5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	padding: 5px;
	background-color: white;
	margin-top: 10px;
}